@model RoleCreateModel
@{
    Layout = "_Layout";
}
<form asp-action="Create" asp-controller="Role" method="post" class="p-4 w-75 mx-auto shadow">
    <div class="mb-3">
        <label>Rol İsmi:</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Oluştur</button>
    </div>
    <div class=" text-danger mt-2" asp-validation-summary="ModelOnly"></div>
</form>